---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="AgroEfens" image="/28A-osDeInvovacion/imagen1.png" />
  <main class="container">
    <div class="content">
      <p>
        El proyecto busca preservar los cultivos en zonas que sufren altos
        riesgos de inundación tiene como objetivo desarrollar una estrategia de
        diseño de objetos que permita proteger los cultivos de las inundaciones
        en la región de La Mojana, Colombia.
      </p>
      <h2>Antecedentes</h2>
      <p>
        La región de La Mojana es una zona altamente susceptible a inundaciones
        debido a su ubicación geográfica y a las características de sus suelos.
        Estas inundaciones generan cuantiosas pérdidas económicas y sociales
        para los agricultores de la región.
      </p>
      <h2>Problema</h2>
      <p>
        El problema principal del proyecto es la necesidad de proteger los
        cultivos de las inundaciones en la región de La Mojana. Esto se debe a
        que las inundaciones causan daños a los cultivos, lo que genera pérdidas
        económicas para los agricultores y afecta la seguridad alimentaria de la
        región.
      </p>
      <h2>Objetivos</h2>
      <p>
        El objetivo general del proyecto es diseñar una estrategia de protección
        para los cultivos en la región de La Mojana. Los objetivos específicos
        del proyecto son:
        <ul>
          <li>
            Generar condiciones que promuevan la productividad y el desarrollo
            humano.
          </li>
          <li>
            Generar recursos técnicos sin alterar los métodos tradicionales de
            la actividad agrícola.
          </li>
          <li>
            Identificar criterios técnicos que sirvan como referente para otros
            tipos de cultivos.
          </li>
          <li>
            Fortalecer el tejido agroindustrial teniendo en cuenta la relación
            de las familias que habitarán con este nuevo método o medio de
            producción.
          </li>
        </ul>
      </p>
      <h2>Planteamiento de diseño</h2>
      <p>
        El planteamiento de diseño del proyecto se basa en la implementación de
        una estrategia de protección para los cultivos que se basa en el uso de
        objetos diseñados específicamente para este propósito. Estos objetos
        deben cumplir con los siguientes requisitos:
        <ul>
          <li>Ser resistentes a las inundaciones.</li>
          <li>Ser fáciles de instalar y usar.</li>
          <li>Ser económicos de producir.</li>
          <li>
            Ser compatibles con los métodos tradicionales de la actividad
            agrícola.
          </li>
        </ul>
      </p>
      <h2>Metodología</h2>
      <p>
        La metodología del proyecto se basa en un enfoque de diseño centrado en
        el usuario. Las etapas principales de la metodología son las siguientes:
        <ul>
          <li>Identificación del problema.</li>
          <li>Análisis del problema.</li>
          <li>Investigación socioeconómica.</li>
          <li>
            Identificación de la idoneidad del diseñador en la solución del
            problema.
          </li>
          <li>Identificación de los objetivos general y específicos.</li>
          <li>Implementación de hipótesis.</li>
          <li>Búsqueda de posibles estados del arte.</li>
          <li>Bocetación de posibles propuestas.</li>
          <li>Desarrollo de modelos de comprobación.</li>
        </ul>
      </p>
      <h2>Impacto</h2>
      <p>
        El proyecto "Preservar los cultivos en zonas que sufren altos riesgos de
        inundación" tiene el potencial de generar un impacto positivo en la
        región de La Mojana. El proyecto puede ayudar a:
        <ul>
          <li>
            Reducir las pérdidas económicas y sociales causadas por las
            inundaciones.
          </li>
          <li>Mejorar la seguridad alimentaria de la región.</li>
          <li>Fortalecer el tejido agroindustrial de la región.</li>
          <li>Mejorar la calidad de vida de los agricultores de la región.</li>
        </ul>
      </p>
      <h2>Conclusiones</h2>
      <p>
        El proyecto "Preservar los cultivos en zonas que sufren altos riesgos de
        inundación" es un proyecto viable y necesario que tiene el potencial de
        generar un impacto positivo en la región de La Mojana. El proyecto se
        basa en un enfoque de diseño centrado en el usuario y se llevará a cabo
        utilizando una metodología rigurosa. El proyecto tiene el potencial de
        contribuir a la solución de un problema importante que afecta a la
        región de La Mojana y a sus habitantes.
      </p>
    </div>
  </main>
</Layout>

<style>
    h2{
        margin-bottom: 14px;
        font-weight: 800;
        font-size: 35px;
    }
    p{
        margin-bottom: 50px;
    }
    ul{
        padding-left: 20px;
        margin-bottom: 50px;
    }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
