---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Barco" image="/28A-osDeInvovacion/imagen8.png" />
  <main class="container">
    <div class="content">
      <h2>Marco Teórico</h2>
      <p>
        El tema del proyecto es el desplazamiento y la atención pre hospitalaria
        de pacientes por vías fluviales. Por esto se hace una investigación del
        sistema fluvial del país y de las condiciones sociales de los habitantes
        que habitan las riveras del sistema fluvial Colombiano.
      </p>
      <h2>Usuario</h2>
      <p>
        Hay dos tipos de usuarios
        <ul>
          <li>Personal técnico o de atención</li>
          <li>Pacientes o personas con necesidad de traslado sanitario</li>
        </ul>
      </p>
      <h2>Problema</h2>
      <p>
        Se detectó que en Colombia hay un grave problema referente al transporte
        y atención de pacientes que habitan la rivera de los ríos, por sus altos
        índices de pobreza, riesgo de inundaciones y deficiente comunicación
        terrestre.
      </p>
      <h2>Proposito del proyecto</h2>
      <p>
        Este proyecto de diseño, propone desarrollar una alternativa objetual
        que permita la adecuada atención pre hospitalaria y transporte de
        pacientes que habitan en la rivera de los ríos colombianos.
      </p>
      <h2>Objetivo General</h2>
      <p>
        Proponer una alternativa formal, implementando analogías de organismos
        biológicos (tiburón) desde el punto de vista formal y funcional, que
        aporte mayor grado de eficiencia en el transporte de pacientes por vía
        fluvial.
      </p>
      <h2>objetivos especificos</h2>
      <p>
        <ul>
          <li>
            Mejorar las condiciones actuales en el desplazamiento de pacientes,
            ofreciendo un mejor servicio en términos de tiempo, a través de la
            emulación y abstracción de los principios de hidrodinámica del
            tiburón.
          </li>
          <li>
            Diseñar un sistema formal que permita proponer un medio de
            desplazamiento alterno al terrestre y aéreo.
          </li>
          <li>
            Aprovechar las ventajas y manejar las desventajas de navegabilidad
            (baja profundidad), para utilizarlas en condiciones favorables en el
            transporte de pacientes, a través de la emulación biológica y los
            principios de flotabilidad de la ingeniería naval.
          </li>
        </ul>
      </p>
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
