---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Ento" image="/28A-osDeInvovacion/imagen2.png" />
  <main class="container">
    <div class="content">
      <p>
        Desarrollo una propuesta de diferentes maneras de presentar los
        alimentos, ya que estos pueden despertar distintas emociones a partir de
        la presentación, cada detalle, el color, la forma, el olor y el sabor
        vuelven el comer una experiencia llena de sensaciones. La gastromia se
        vuelve un arte el cual se pueden percibir distintos mensajes, los cuales
        son modificados por el cocinero y a partir de distintas preparaciones
        que presentan al final un mensaje para el consumidor.
      </p>
      <h2>Definición</h2>
      <p>
        El imaginario colectivo muestra un gran rechazo hacia los insectos,
        debido a su aspecto morfológico y al estatus de aceptación que tienen
        dentro de nuestra sociedad, son apartados de todas las formas, casi
        hasta el punto de querer exterminarlos.
      </p>
      <h2>Origen</h2>
      <p>
        Recientemente se ha despertado un profundo interés en la crianza y
        producción de diferentes especies de insectos con el fin de convertirlos
        en una fuente de alimentación, haciendo una adaptación e Inserción en el
        arte de la gastronomía.
      </p>
      <h2>Antecedentes</h2>
      <p>
        El aprovechamiento de los insectos comestibles (entomofagia). Esta
        práctica se ha llevado a cabo en algunas partes del mundo, sobre todo en
        países orientales. Son más de 500 clases de insectos distintos los que
        son utilizados en la alimentación de diferentes culturas. Los más
        comunes y utilizados, son los escarabajos, abejas, grillos, hormigas,
        mariposas, escorpiones, larvas... Aunque su aspecto no sea muy tentador
        y algunos de ellos nos hagan sentir repulsión con tan solo observarlos,
        lo cierto es que cada uno de ellos contiene grandes propiedades
        nutritivas.
      </p>
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 460px;
  }
</style>
