---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Geros" image="/28A-osDeInvovacion/imagen3.png" />
  <main class="container">
    <div class="content">
      <p>
        Desarrollo una propuesta para el adulto mayor en la etapa senil, el cual
        busca que las personas mayores tengan una autonomía y decisión para que
        estas sigan siendo parte activa de la sociedad, se genera una
        integración entre los adultos mayores y el sembrar.
      </p>
      <h2>Definición</h2>
      <p>
        El tiempo libre está siendo un gran determinante para un envejecimiento
        más doloroso y progresivo ya que los adultos mayores lo proyectan como
        un estado de inactividad y a pensar en la frase "soy un estorbo para la
        sociedad" lo que genera que se vuelvan objetos y no sujetos, personas
        que pueden tener autonomía en su diario vivir.
      </p>
      <h2>Objetivo general</h2>
      <p>
        Potenciar el desarrollo cognitivo de la persona mayor, para reactivar su
        participación e inclusión social, a través de una actividad
        técnico-operativa, desarrollada en tiempos de oclo.
      </p>
      <h2>Objetivos específicos:</h2>
      <p>
        <ul>
          <li>
            Generar a partir de las cualidades morfológicas la estimulación
            física y sensorial.
          </li>
          <li>
            Incrementar la capacidad de concentración en una tarea a partir del
            desarrollo de la actividad.
          </li>
          <li>Ejercitar las capacidades motrices.</li>
        </ul>
      </p>
      <h2>Planteamiento de diseño</h2>
      <p>
        La actividad de ocio en la persona mayor se resignifica en tiempo activo
        y potencialmente humano para retroalimentar diferentes dimensiones
        físicas y psicosociales de la cotidianidad a partir de una actividad de
        jardinería donde los conceptos como la Autonomía para que la persona
        mayor pueda decidir cómo es la interrelación con el objeto; forjando
        estados de pertenencia con el sistema objetual y con su entorno cercano.
      </p>
      <h2>Conclusiones</h2>
      <p>
        La actividad de jardineria dentro del hogar es un proceso de
        construcción maravilloso que permite a la persona mayor conocer e
        interpretar e innovar en cada etapa de los conocimientos decisiones, su
        actividad siendo autónoma en sus creando expectativas al cuidar un ser
        vivo y obtener como recompensa el consumo de sus propios resultados,
        estimulando a la vez el sistema sensorial y ayudando a Incrementar la
        capacidad de concentración en una tarea a partir del desarrollo de la
        actividad
      </p>
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
