---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="guajava" image="/inovacion/imagen4.png" />
  <main class="container">
    <div class="content">
      <h2>Planteamiento del problema</h2>
      <p>
        Se encontraron problemas en el aprovechamiento de la guayaba, en el
        municipio de Anolaima, puesto que su producción es de cuatro toneladas
        por hectárea cuadrada al año, mientras que en otros municipios es de
        dos, obligando a los habitantes de Anolaima a producir bocadillo con el
        excedente de la cosecha. Por el exceso de producción de la guayaba y la
        falta de darle una identidad al bocadillo hay bajos precios y son cada
        vez menos los productores bocadillo en Anolaima.
      </p>
      <h2>Objetivo general</h2>
      <p>
        Diseñar una familia de objetos con materias primas sub-utilizadas en el
        municipio de Anolaima, como el bocadillo y la guadúa, que a través de
        sus calidades y cualidades formales permita generar ritos de consumo que
        comuniquen identidades especificas al contexto, para incursionar en
        mercados no tradicionales que generen la estabilización de la región y
        la disminución de problemáticas socioculturales del municipio.
      </p>
      <h2>Objetivos específicos:</h2>
      <p>
        <ul>
          <li>
            Mostrar en los productos rasgos de identidad especificas del contexto que permiten el reconocimiento del municipio de Anolaima.
          </li>
          <li>
            Generar sistemas objetuales que permitan la apropiación de formas de consumo del bocadillo.
          </li>
          <li>Proponer una familia de objetos que genere hábitos de consumo de bocadillo en el núcleo familiar.</li>
        </ul>
      </p>
      
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
