---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Mobiliario azul" image="/inovacion/imagen6.png" />
  <main class="container">
    <div class="content">
      <h2>Definición del problema</h2>
      <p>
        Las dinámicas culturales urbanas se ven afectadas gracias a factores
        como los medios de comunicación masiva y las nuevas tecnologías además
        de los procesos migratorio en las ciudades lo cual ha provocado una
        fragmentación cultural y cambio en las formas de socialización.
      </p>
      <h2>Planteamiento de diseño</h2>
      <p>
        La perspectiva estructural del objeto comprende dos variables que son la
        estructura intraformal (relación de las partes constitutivas del objeto)
        y la estructura interformal (relaciones externas con otros objetos,
        personas contextos).
      </p>
      <h2>Respuesta formal</h2>
      <p>
        Narrativas del mobiliario y componentes
        <ul>
          <li>Silla posición normal</li>
          <li>Silla posición inversa</li>
          <li>Silla con pouff</li>
          <li>Pouff horizontal</li>
          <li>Pouff vertical inverso</li>
          <li>Pouff vertical mesa</li>
          <li>Sofa</li>
          <li>Mesa de centro</li>
        </ul>
        <p>
          Se puede ubicar ya sea para Mesa de servicio (personal), Consumo de
          alimentos, Estadía de huéspedes, Fiesta, Tertulia o Sala de Cine y Tv.
        </p>
      </p>
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
