---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Mobiliario Salsa" image="/28A-osDeInvovacion/imagen7.png" />
  <main class="container">
    <div class="content">
      <p>
        El proyecto busca desarrollar una metodología de diseño que permita
        traducir códigos musicales en respuestas objetuales, creando objetos
        simbólicos que referencien culturas regionales.
      </p>
      <h2>Definición</h2>
      <p>
        Las expresiones culturales del ser humano hablan de sus raíces y bases
        culturales, las cuales se han forjado y apropiado en el tiempo. La
        música es una de ellas, y presenta un alto nivel de organización
        secuencial lógica, donde se establecen unidades comunicativas que
        cuantifican el fenómeno sonoro.
      </p>
      <h2>Objetivos General</h2>
      <p>
        Generar una vía metodológica de diseño para reconocer y homologar la
        músical en respuestas objetuales que referencien códigos comunicativos,
        propios de entornos específicos y regiones identificables en la cultura.
      </p>
      <h2>Objetivos Específicos</h2>
      <p>
        <ul>
          <li>
            Evidenciar el potencial cultural y algorítmico que presentan los
            diferentes discursos musicales, y su influencia en el diseño para la
            concepción de desarrollos formales.
          </li>
          <li>
            Desarrollar matrices de homologación para poder traducir los códigos
            sonoro-comunicativos a un canal de percepción visual y táctil.
          </li>
          <li>
            Desarrollar objetos que denoten un alto nivel de abstracción y
            configuración musical, propio de una identidad regional o
            contextual.
          </li>
        </ul>
      </p>
      <h2>Justificación</h2>
      <p>
        El diseñador está en la capacidad de desarrollar propuestas objetuales
        que cumplan con necesidades propias del ser humano y su entorno. Una de
        estas necesidades imperantes y básicas es la de identificarse y sentirse
        reconocido dentro de una cultura.
      </p>
      <h2>Marco Teórico</h2>
      <p>
        El marco teórico del proyecto se basa en la idea de la universalidad de
        la música y el arte, así como en la importancia de la localización y los
        conceptos de espacio y abstracción.
      </p>
      <h2>Tipos de Sonido</h2>
      <p>
        El proyecto distingue entre los distintos tipos de sonidos que se
        escuchan habitualmente, como el tono, el sonido, el ruido y el
        estampido.
      </p>
      <h2>Problemática</h2>
      <p>
        La música se presenta como una expresión cultural del pueblo, de sus
        creencias e interpretaciones, y se presenta como un lenguaje universal
        capaz de transmitir emociones, sentimientos, experiencias y vivencias a
        través de fenómenos sonoros.
      </p>
      <h2>Esquema Conceptual</h2>
      <p>
        Colombia es un país multiétnico donde se pueden apreciar múltiples
        manifestaciones culturales y es allí donde la música ha estado con el
        hombre desde tiempos remotos. El consumo cultural musical en Colombia es
        muy diverso, y se destaca la salsa como uno de los géneros más
        escuchados y como símbolo de identidad popular nacional.
      </p>
      <h2>Selección de la Musa</h2>
      <p>
        En este orden de ideas, se selecciona la salsa como musa en la
        concepción de los objetos. Como contrapunto a este género y a los
        conceptos que se presentan en la salsa, se elige el bolero.
      </p>
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
