---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Patineta" image="/inovacion/imagen5.png" />
  <main class="container">
    <div class="content">
      <p>
        Diseño de un objeto de transporte urbano de propulsión humana para
        mejorar la movilidad en Bogotá, creando un dispositivo que sea
        eficiente, práctico y compatible con el sistema de transporte público
        existente en la ciudad. Este objeto debe ser capaz de integrarse sin
        problemas con los intervalos de desuso de los sistemas de transporte
        público, proporcionando a los usuarios una opción de movilidad continua
        y flexible para sus desplazamientos diarios.
      </p>
      <h2>Características clave</h2>
      <p>
        <ul>
          <li>Portabilidad y facilidad de uso</li>
          <li>Eficiencia en el desplazamiento</li>
          <li>Adaptabilidad al terreno urbano</li>
          <li>Seguridad</li>
          <li>Sostenibilidad</li>
          <li>Integración con el transporte público</li>
        </ul>
      </p>
      <h2>Conclusión</h2>
      <p>
        El producto logra una solución efectiva que complementa el sistema de
        trasporte público en Bogotá combinando fácil portabilidad, eficiencia y
        adaptabilidad para las actividades de los ciudadanos en su día a día.
      </p>
      
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .content {
    margin: 0 10vw;
    padding-top: 430px;
  }
</style>
